@model XYZSTUDIOSFINALFINAL.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Page Details";
}

<h2>Page Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

    </dl>
</div>
<div>
    @{ string[] array = Directory.GetFiles(Server.MapPath("~/UploadedFiles/" + Model.Title));
        foreach (string name in array)
        {
            var ad1file = Path.GetFileName(name);

            <img src= "/UploadedFiles/@Model.Title/@ad1file" style="height:300px;"/>
        }
    }
</div>
<p>
    @Html.ActionLink("Back to Pages", "Index")
</p>



